@font-face {
    font-family:"WorkSans-ExtraBold";
    src: url(../font/WorkSans-ExtraBold.ttf);
}

@font-face {
    font-family:"WorkSans-Italic";
    src: url(../font/WorkSans-Regular.ttf);
}

@font-face {
    font-family:"WorkSans-Medium";
    src: url(../font/WorkSans-Medium.ttf);
}

:root{
    --verdeSena:#39A900;
    --azulSena:#00324D;
    --colorBlanco:rgb(255, 255, 255);
    --colorOcuro:#000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}