.footer {
    align-items: center;
    gap: 2rem;
    padding:4rem;
    background-color: $primary-100;
    height: 16rem;
    .top-footer{
        display: flex;
        justify-content: space-between;
    }
    .text-footer{
        display: flex;
        justify-content: center;
    }
    .icon-footer{
        width:30rem;
    }
    p {
        color: $bg-100;
        font-size: 1.3rem;
        margin-top:1rem ;
    }

    .footer__social {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    
    
}