.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    background-color: $primary-100;
    height: 18rem;
    .icon-footer{
        width:30rem;
    }
    p {
        color: $bg-100;
    }

    .footer__social {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}