
.formularios {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .select__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 0;
        
        .select__categorias {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            
            .categoria {
                input[type='radio']{
                    display: none;
                    
                    &.active ~ label {
                        background-color: $text-100;
                        color: $bg-100;
                    }
                }
                label {
                    display: block;
                    padding: 1rem;
                    border-radius: .5rem;
                    background-color: $bg-100;
                    border: 1px solid $text-100;
                    text-align: center;
                    font-weight: $bold;
                    transition: all .3s ease-out;
                    &:hover {
                        cursor: pointer;
                        background-color: $text-100;
                        color: $bg-100;
                    }
                    
                }
            }
            
            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    
    h1 {
        margin-bottom: 0;
    }
    
    .categorias {
        .title-categorias {
            .descargar-formato {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 2rem;
                
                p {
                    font-size: 1.75rem;
                    text-align: center;
                    
                    span {
                        font-weight: $bold;
                    }
                }
                
                button {
                    margin: 0;
                }
                
                @include tablet{
                    flex-direction: row;
                    align-items: center;
                }
                
            }
        }
        .formulario {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            
        }
    }
}
