header {
    h1 {
        color: $bg-100;
        margin: 0;
    }

    .splide {
        .splide__track {
            height: 60rem;
            .splide__list {
                .splide__slide {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;

                    &.slide-1 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/splide2.jpeg');
                    }
                    &.slide-2 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/splide1.jpeg');
                    }
                    &.slide-3 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/splide3.jpeg');
                    }
                }
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 3rem;
    margin-top: 2rem;
    z-index: 1;
    
    .nav__link {
        display: none;
        margin-left: auto;
        
        .nav__item {
            list-style: none;
            font-size: 1.45rem;

            a {
                padding: 1.25rem 2.25rem;
                border-radius: .5rem;
                color: $bg-100;
                transition: background-color .3s ease-out;

                &:hover {
                    background-color: #ffffff63;
                }
            }
        }

        @include tablet {
            display: flex;
        }
    }

}    