header {
    h1 {
        color: $bg-100;
        margin: 0;
    }

    .modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        background-color: $text-100;
        opacity: 0.95;
        transition: all .3s ease-out;

        .close {
            display: flex;
            width: 70%;
            position: absolute;
            top: 10rem;

            button {
                font-size: 2rem;
                color: $bg-100;
                margin-left: auto;
            }
        }

        .nav__link {
            width: 70%;
            li {
                display: block;
                transition: all .3s ease-out;
                border-radius: .3rem;
                a {
                    display: block;
                    text-align: center;
                    font-weight: $bold;
                    color: $bg-100;
                    padding: 2rem;

                }

                &:hover {
                    background-color: #ffffff63;
                }
            }
        }

        &.off {
            opacity: 0;
            z-index: -1;
        }
    }

    #menu {
        cursor: pointer;
    }

    .splide {
        .splide__track {
            height: 70rem;
            .splide__list {
                .splide__slide {
                    background-size: cover;
                    background-repeat: no-repeat;
                    
                    &.slide-1 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/Concursos/VIencuentro.jpeg');
                        background-position: center center;
                    }
                    &.slide-2 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/Concursos/Feria-empresarial.avif');
                        
                    }
                    &.slide-3 {
                        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('/build/img/Concursos/Torneo-robotica.avif');
                        background-position: right;
                    }
                }
            }
        }
    }

    &.absolute {
        .nav {
            position: absolute;
        }
    }

    &.relative {
        background-color: $primary-200;
        padding: 2rem 0;

        .nav {
            position: relative;
            margin: 0 auto;
    
            .nav__link{
    
                .nav__item {
    
                    a {
                        // color: $text-100;
                    }
                }
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    margin-top: 2rem;
    z-index: 1;
    
    .nav__link {
        display: none;
        margin-left: auto;
        
        .nav__item {
            list-style: none;
            font-size: 1.45rem;

            a {
                padding: 1.25rem 2.25rem;
                border-radius: .5rem;
                color: $bg-100;
                transition: background-color .3s ease-out;

                &:hover {
                    background-color: #ffffff63;
                }
            }
        }

        @include desktop {
            display: flex;
            gap: 1rem;
        }
    }

    img {
        height: 4rem;
        width: 4rem;
        margin-left: auto;

        @include desktop {
            display: none;
        }
    }

}   