main.inicio {
    margin-top: 5rem;
    
    .concursos {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        
        .concurso {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            
            .concurso-informacion{
                h1 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }
            
            &:nth-of-type(even){
                direction: rtl;
            }

            @include desktop {
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;

        .card {
            display: flex;
            border-radius: .75rem;
            flex-direction: column;
            width: 35rem;
            padding: 3rem;
            height: 40rem;
            background-color: $bg-100;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            button {
                margin-top: auto;
                border-radius: .5rem;
            }
        }
    }
}

section:nth-of-type(even) {
    background-color: $bg-200;
    padding: 2rem;
}