main.inicio {
    margin-top: 5rem;

    .ponentes {
        .splide {
            .splide__track {
                .splide__slide {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    place-items: center;
                    gap: 2rem;
                    padding: 3rem 0 6rem 0;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        width: 70%;
                        margin: auto;
                        
                        h1.heading {
                            text-align: center;
                            font-size: 2.4rem;
                            
                            @include tablet {
                                text-align: left;
                            }
                        }

                        p {
                            text-align: justify;
                            font-size: 1.5rem;
                            
                            @include desktop {
                                font-size: 1.8rem;
                            }
                        }
                    }
                    
                    img {
                        height: 12rem;
                        width: 12rem;
                    }
                    
                    @include tablet {
                        grid-template-columns: 2fr 1fr;
                    }
                }
            }
        }
    }
}


