main.inicio {
    margin-top: 5rem;
    
    .concursos {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;

        p{
            text-align: justify;
        }
        span{
            color: $accent-200;
        }
        
        .concurso {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            .concurso-informacion{
                h1 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }
            
            &:nth-of-type(even){
                direction: rtl;
            }

            @include desktop {
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
        }
    }

    .concursos-cards {
        padding: 5rem;
        h1 {
            margin-top: 0;
        }
        .cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
    
            .card {
                display: flex;
                border-radius: .75rem;
                flex-direction: column;
                width: 35rem;
                padding: 3rem;
                height: 40rem;
                background-color: $bg-100;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
                a {
                    margin-top: auto;
                    border-radius: .5rem;
                }
            }
    
        }
    }

    .ponentes {
        .splide {
            .splide__track {
                .splide__slide {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    place-items: center;
                    gap: 2rem;
                    padding: 5rem 0;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        width: 70%;
                        margin: auto;
                        
                        h1 {
                            text-align: center;
                            margin: 0;

                            @include tablet {
                                text-align: left;
                            }
                        }

                        p {
                            text-align: center;
                            font-size: 1.5rem;

                            @include tablet {
                                text-align: left;
                            }
                        }

                    }
                    
                    img {
                        height: 12rem;
                        width: 12rem;
                    }
                    
                    @include tablet {
                        grid-template-columns: 2fr 1fr;
                    }
                }
            }
        }
    }

    section {
        &:nth-of-type(even) {
            background-color: $bg-200;
        }
    
        @include tablet {
            padding: 2rem;
        }
    }
}


