main.inicio {
    margin-top: 5rem;

    .ponentes {
        h1 {
            margin-bottom: 0;
        }
        .splide {
            .splide__track {
                .splide__slide {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    place-items: center;
                    gap: 2rem;
                    padding: 3rem 0 6rem 0;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        width: 70%;
                        margin: auto;
                        
                        h1.heading {
                            text-align: center;
                            font-size: 2.4rem;
                            padding: 2rem 0;
                            position: relative;
                            @include tablet {
                                text-align: left;
                            }

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                width: 100%;
                                background-color: $primary-100;
                                height: .4rem;

                                @include tablet{
                                    width: 95%;
                                }

                                @include desktop{
                                    width: 65%;
                                }
                            }
                        }

                        p {
                            text-align: justify;
                            font-size: 1.5rem;
                            
                            @include desktop {
                                font-size: 1.8rem;
                            }
                        }
                    }

                    img {
                        height: 16rem;
                        width: 16rem;
                    }
                    
                    .ponente_image {
                        height: 30rem;
                        width: 30rem;
                        border-radius: 100%;
                        background-size: cover;
                        background-position: center center;
                    }
                    
                    &.slide-2 .ponente_image {
                        background-image: url('/build/img/ponentes/Juan\ Humberto\ Sossa\ Azuela.jpeg');
                    }
                    
                    @include tablet {
                        grid-template-columns: 2fr 1fr;
                    }
                }
            }
        }
    }
}


