main.inicio {
    margin-top: 5rem;
    
    .concursos {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        p{
            text-align: justify;
        }
        span{
            color: $accent-200;
        }
        
        .concurso {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;

            .concurso-informacion{
                display: flex;
                flex-direction: column;
                
                h1 {
                    text-align: left;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    text-align: left;
                    margin-top: 2rem;
                    color: $bg-100;
                    padding: 1rem 1.5rem;
                    margin-right: auto;
                    border: 1px solid $text-100;
                    border-radius: .5rem;
                    background-color: $text-100;
                    transition: all .3s ease-out;
                    
                    img {
                        width: 2.4rem;
                        height: 2.4rem;
                        filter: invert(100);
                    }
                    
                    &:hover {
                        color: $text-100;
                        background-color: #ffffff0a;

                        img {
                            filter: invert(0);
                        }
                    }
                }
            }
            
            
            @include desktop {
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
                
                &:nth-of-type(even){
                    direction: rtl;
    
                    .concurso-informacion {
                        a{
                            direction: ltr;
                            margin-left: auto;
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .ponentes {
        .splide {
            .splide__track {
                .splide__slide {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    place-items: center;
                    gap: 2rem;
                    padding: 5rem 0;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        width: 70%;
                        margin: auto;
                        
                        h1 {
                            text-align: center;
                            margin: 0;

                            @include tablet {
                                text-align: left;
                            }
                        }

                        p {
                            text-align: center;
                            font-size: 1.5rem;

                            @include tablet {
                                text-align: left;
                            }
                        }
                    }
                    
                    img {
                        height: 12rem;
                        width: 12rem;
                    }
                    
                    @include tablet {
                        grid-template-columns: 2fr 1fr;
                    }
                }
            }
        }
    }

    section {
        padding: 2rem 0;
        &:nth-of-type(even) {
            background-color: $bg-200;
        }
    
        @include tablet {
            padding: 2rem;
        }
    }
}


