.alert-error {
    @include alert($accent-200, $bg-100);
    padding: 0;

    p {
        text-align: center;
        color: $bg-100;
    }

    h3 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.alert-success {
    @include alert($primary-100, $bg-100);

    p {
        text-align: center;
        color: $bg-100;
    }
}
