
.boton-amarillo {
    @include boton($accent-300, inline-block);
}

.boton-amarillo-block {
    @include boton($accent-300, block);
}

.boton-rojo {
    @include boton($accent-200, inline-block);
}

.boton-rojo-block {
    @include boton($accent-200, block);
}

.boton-rojo-block {
    @include boton($accent-200, block);
    width: 100%;
}

.boton-verde {
    @include boton($primary-100, inline-block);
}

.boton-verde-block {
    @include boton($primary-100, block);
}
