/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $display){
    background: $bgColor ;
    color: $bg-100;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: $separacion / 2;
    display: $display;
    transition: background-color .3s ease-out;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: darken($bgColor, 5);
    }
}

@mixin alert($bgColor, $type){
    background: $bgColor ;
    color: $type;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s ease-out;
    border: none;
    margin-top: $separacion / 7;
    padding: 1rem;
}