.notifications-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .notification {
        background-color: $bg-100;
        padding: 2rem;
        border-radius: .35rem;

        .sub-heading {
            margin: 0;
        }
    }
}