.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
    margin-top: 0;
    padding: 0 1rem 2rem 1rem;
    
    @include tablet {        
        padding: 2rem 10rem;
        border-radius: .5rem;
    }
}

.error {
    color: $accent-200;
}

.main-contain {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: $bg-100;
    
    @include desktop {
        margin: 2rem auto;
        border-radius: .5rem;
        width: 90%;
    }
}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        max-width: 8rem;
    }
}


.modal-menu-phone {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0000006f;
    top: 0;

    @include tablet {
        display: none;
    }

    .nav-phone {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 2rem;
        height: 100%;
        background-color: $bg-100;
        gap: 2rem;
        margin-right: auto;
        transition: left .3s ease-out, opacity .5s linear;
        position: absolute;
        left: -80rem;

        @include telefono {
            width: 60%;
        }

        button.close {
            all: unset;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            height: 3rem;
            width: 3rem;
            border-radius: .5rem;
            background-color: $accent-200;
            cursor: pointer;
            color: $bg-100;
            font-weight: $bold;
        }

        ul{
            width: 100%;
            li {
                display: block;
                list-style: none;
                padding: .5rem;
                background-color: $bg-100;
                font-size: 1.8rem;
                width: 100%;
                transition: all .3s ease-out;

                a {
                    display: flex;
                    gap: 2rem;
                    color: $text-100;
                    font-weight: $bold;
                
                    img {
                        height: 3.2rem;
                        width: 3.2rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: $bg-200;
                }
            }
        }
    }

    .display-nav {
        left: 0rem;
    }
}

.display {
    display: flex;
    position: fixed;
}

.fecha {
    color: $primary-100;
    font-weight: $bold;
}

.message {
    margin-bottom: 1rem;
}

.note_1 {
    color: $primary-100;
}

.note_2 {
    color: $accent-300;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        font-weight: $bold;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='date'],
    input[type='file'],
    textarea,
    select{
        width: 100%;
        outline: none;
        padding: 1rem;
        background-color: darken($bg-100, 3);
        border: 2px solid $bg-200;
        border-radius: .5rem;
        transition: all .3s ease-out;
        text-align: center;

        @include tablet {
            text-align: left;
        }

        &:focus {
            background-color: $bg-100;
            border: 2px solid $primary-100;
        }
    }
}

.errors {
    margin-bottom: 1rem;
}

.heading.mt {
    margin-top:3rem;
}