.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
    margin-top: 0;
    padding: 0 1rem 2rem 1rem;
    
    @include tablet {        
        padding: 2rem 10rem;
        border-radius: .5rem;
    }
}

.error {
    color: $accent-200;
}

.main-contain {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: $bg-100;
    
    @include desktop {
        margin: 2rem auto;
        border-radius: .5rem;
        width: 90%;
    }
}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        max-width: 8rem;
    }
}


.card {
    display: flex;
    border-radius: .75rem;
    flex-direction: column;
    width: 100%;
    height: 45rem;
    padding: 3rem;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .3s ease-out;

    &.card-1 {
        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
    }
    &.card-2 {
        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20%281%20of%201%29-5.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    }
    &.card-3 {
        background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .3)), url('https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80');
    }

    h1 {
        font-weight: $bold;
        color: $bg-100;
        margin-top: auto;
    }
    a {
        margin-top: auto;
        border-radius: .5rem;
        padding: 1rem;
        text-align: center;
        color: $bg-100;
        font-weight: $bold;
        position: relative;
        background-color: #ffffff63;

        &::before {
            display: block;
            content: "";
            width: 0%;
            height: 100%;
            background-color: $accent-300;
            position: absolute;
            transition: all .3s ease-out;
            z-index: -1;
            top: 0;
            left: 0;
            border-radius: .5rem;
        }

        &:hover::before {
            width: 100%;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}

.modal-menu-phone {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0000006f;
    top: 0;

    @include tablet {
        display: none;
    }

    .nav-phone {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 2rem;
        height: 100%;
        background-color: $bg-100;
        gap: 2rem;
        margin-right: auto;
        transition: left .3s ease-out, opacity .5s linear;
        position: absolute;
        left: -80rem;

        @include telefono {
            width: 60%;
        }

        button.close {
            all: unset;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            height: 3rem;
            width: 3rem;
            border-radius: .5rem;
            background-color: $accent-200;
            cursor: pointer;
            color: $bg-100;
            font-weight: $bold;
        }

        ul{
            width: 100%;
            li {
                display: block;
                list-style: none;
                padding: .5rem;
                background-color: $bg-100;
                font-size: 1.8rem;
                width: 100%;
                transition: all .3s ease-out;

                a {
                    display: flex;
                    gap: 2rem;
                    color: $text-100;
                    font-weight: $bold;
                
                    img {
                        height: 3.2rem;
                        width: 3.2rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: $bg-200;
                }
            }
        }
    }

    .display-nav {
        left: 0rem;
    }
}

.display {
    display: flex;
    position: fixed;
}

.fecha {
    color: $primary-100;
    font-weight: $bold;
}

.message {
    margin-bottom: 1rem;
}

.note_1 {
    color: $primary-100;
}

.note_2 {
    color: $accent-300;
}

.coolinput {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        font-weight: $bold;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    input[type='file'],
    textarea,
    select{
        width: 100%;
        outline: none;
        padding: 1rem;
        background-color: darken($bg-100, 3);
        border: 2px solid $bg-200;
        border-radius: .5rem;
        transition: all .3s ease-out;
        text-align: center;

        @include tablet {
            text-align: left;
        }

        &:focus {
            background-color: $bg-100;
            border: 2px solid $primary-100;
        }
    }

    .div-ponente {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-title {
        font-size: 1.3rem;
        color: $primary-100;
    }

    .drop-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .drop-title {
        font-size: 1.6rem;
        color: black;
        transition: color .2s ease-in-out;
    }
    #file-input {
        color: #444;
        padding: .2rem;
        background: #fff;
        border-radius: .5rem;
        border: 1px solid rgba(8, 8, 8, 0.288);
    }
    #file-input::file-selector-button {
        margin-right: 20px;
        border: none;
        background: $primary-200;
        padding: 10px 20px;
        border-radius: .5rem;
        color: #fff;
        cursor: pointer;
        transition: background .3s ease-out;
    }
    
    #file-input::file-selector-button:hover {
        background: $primary-100;
    }

    &.files {
        margin-top: 2rem;
    }

    &.terminos {
        margin-top: 2rem;
        align-items: flex-start;
        padding: 2rem 0;

        input {
            margin-right: 1rem;
        }
    
        input::after {
            content: "Los participantes solo deben estar registrados en un solo proyecto";
            display: flex;
            margin-left: 2rem;
            margin-top: -.2rem;
            position: absolute;
            width: 90%;
        }
    
        label {
            margin-top: 2rem;
        }
    }
}

.errors {
    margin-bottom: 1rem;
}

.heading.mt {
    margin-top:3rem;
}

button#descargar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    img {
        width: 2.4rem;
        height: 2.4rem;
    }

    @include tablet {
        margin-left: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;

    fieldset {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;

        legend {
            font-weight: $bold;
        }
        
        .coolinput {
            .add-participante {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                @include tablet {
                    flex-direction: row;
                    align-items: center;
                }
                input[type='text']{
                    flex: 3;
                }
                button {
                    margin: 0;
                }
            }

            .group-list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    @include tablet {
                        flex-direction: row;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;
                        list-style: none;
                        padding: 1rem 1.5rem;
                        border-radius: .5rem;
                        background-color: darken($bg-100, 3);
                        font-size: 1.2rem;
                        width: 100%;
    
                        button {
                            width: 2rem;
                            height: 2rem;
                            background-color: $accent-200;
                            border: none;
                            color: $bg-100;
                            font-weight: $bold;
                            border-radius: 100%;
                            transition: background-color .3s ease-out;
                            text-align: center;
                            &:hover {
                                cursor: pointer;
                                background-color: darken($accent-200, 5);
                            }
                        }
                    }
                }
            }

        }

        &.fieldset-contacto {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .participant {

                h4 {
                    text-align: center;
                }

                .field {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    input[type='submit']{
        padding: 1.5rem;
    }
}


