main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 0;
    height: 50rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        width: 100%;
        
        @include tablet {
            width: 60%;
        }

        @include desktop {
            width: 40%;
        }
    }
}