
main.contain {
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .buscadores {
            h2 {
                text-align: center;
                font-weight: $bold;
                margin: 0;
            }

            .checkbox {
                display: flex;
                justify-content: space-around;
                width: 30%;
                margin: 2rem auto;

                &.more {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    width: 100%;
                    gap: 2rem;
                    
                    @include tablet {
                        grid-template-columns: repeat(2, 1fr);
                        place-items: center;
                    }
                }
            }
        }
        
        .proyectos {
            display: flex;
            flex-direction: column;
            gap: 1rem;
    
            .proyecto {
                display: flex;
                flex-direction: column;
                background-color: $bg-200;
                border-radius: .5rem;
                
                .datos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem;
                    justify-content: space-between;
                    border: 1px solid $bg-200;

                    &:nth-child(even){
                        background-color: $bg-300 ;
                    }

                    &:hover {
                        background-color: $bg-100;
                        transform:  scale(1.005);
                        transition: all .1s ease;
                    }
    
                    span {
                        font-weight: $bold;
                        font-size: 1.75rem;
                    }
    
                    p {
                        font-size: 1.6rem;
                    }

                    @include tablet {
                        flex-direction: row;
                    }
                }
            }

            a {
                margin: 0;
            }
        }
    }
}