
main.contain {
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .buscadores {
            h2 {
                text-align: center;
                font-weight: $bold;
                margin: 0;
            }

            .checkbox {
                display: flex;
                justify-content: space-around;
                width: 30%;
                margin: 2rem auto;

                &.more {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    width: 100%;
                    gap: 2rem;
                    
                    @include tablet {
                        grid-template-columns: repeat(2, 1fr);
                        place-items: center;
                    }
                }
            }
        }
        
        .proyectos {
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            .proyecto {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2.5rem;
                background-color: $bg-200;
                border-radius: .5rem;
    
                .datos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    align-items: flex-start;
    
                    span {
                        font-weight: $bold;
                        font-size: 1.75rem;
                    }
    
                    p {
                        font-size: 1.6rem;
                    }

                    @include tablet {
                        flex-direction: row;
                    }
                }
    
                a {
                    margin: 0;
                }
            }
        }
    }
}