.nav-forms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 95%;
    margin: 2rem auto 4rem auto;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

    }

    @include tablet {
        height: 10rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }

} 