@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/botones';
@import 'base/alerts';
@import 'base/utilidades';


@import 'internas/layout/header';
@import 'internas/layout/inicio';
@import 'internas/layout/footer';
@import 'internas/layout/formularios';


@import 'admin/login'; 
@import 'admin/nav'; 
@import 'admin/ponencias'; 